<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>event.pageY demo</title>
  <style>
  *{
      margin: 0;
      padding: 0;
      font-size: large;
    }

  input, button {
    display: block;
    width: 100%;
    text-align: center; 
  }
  div {
    /*padding: 20px;*/
  }
  footer{ 
       position: fixed;        
       bottom: 0px; 
       width: 100%;
   }  
  </style>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
 
<header> 
  <input type="text" id="response" disabled="disabled"  value="hola">
</header>

<footer>
  <button type="button" id="submit">Submit</button>
</footer>

<script>
var points = []


$(document).ready(function (argument) {
  $("#response").val( " results: {{area}} {{type}} {{points}} " );
})


$( "#submit" ).on( "click", function( event ) {
  alert("ready for logic" + points);
  points = []
});

$( document ).on( "click", function( event ) {
  points.push( { x : event.pageX, y : event.pageY } ); 

  $("#response").val( "Current point X:" + event.pageX + ", Y:" + event.pageY + " TOTAL:" + points.length );

  alert(points);
});
</script>
 



</body>
</html>